
@{
    ViewData["Title"] = "Info";
}
<body style="background-color:#f0f0f0">
    <h2>ارتباط با ما</h2>
    <h6>
        هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
        <br />
        شماره تماس :۶۱۹۳۰۰۰۰ - ۰۲۱ ، ۹۵۱۱۹۰۹۵ - ۰۲۱
        <br />
        شماره تماس برای همکاری :۶۱۲۳۱۰۰۰ - ۰۲۱ ، ۹۵۱۴۱۷۱۴ - ۰۲۱
        <br />
        آدرس ایمیل : info@migikala.com
        <br />
        میجیکالا بهترین و مطمعن ترین راه برای دسترسی به بروز ترین
        <br />
        موردنیاز ترین و باکیفیت ترین کالاها
        <br />
        &copy; 2019 - فروشگاه میجیکالا - <a asp-area="" asp-controller="Privacy" asp-action="Privacy">حریم خصوصی</a>
    </h6>
</body>
